@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "UthmanThaha";
  src: url("https://kangismet.github.io/fonts/Uthman-Thaha.eot");
  src: url("https://kangismet.github.io/fonts/Uthman-Thaha.eot?#iefix")
      format("embedded-opentype"),
    url("https://kangismet.github.io/fonts/Uthman-Thaha.ttf") format("truetype");
  font-weight: 400;
  font-weight: normal;
  font-display: swap;
}

.arab {
  font-size: 28px;
  line-height: 48px;
  font-family: "UthmanThaha", "Traditional Arabic", Tahoma, sans-serif;
  font-weight: 400;
  text-align: right;
  direction: rtl;
  color: rgb(17 24 39);
}

.dark .arab {
  color: #fff;
}

* {
  @apply font-sans;
}
